* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    background-color: #191919;
    color: white;
    font-family: "DM Sans", sans-serif;
    min-width: 375px;
}

.container {
    /*border: 1px solid red;*/
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 70px;
}

.hero {
    padding: 42px 0;
}

.creator {
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-bottom: 100px;
    justify-content: flex-end;


    /*margin-top: 310px;*/
}

.content-creator {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header {
    padding: 42px 0;
}

header ul {
    display: flex;
    gap: 40px;
}

.header a {
    font-size: 17px;

    transition: color 0.5s;
}

.header a:hover {
    color: #118DA8;

}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
    display: none;
}

.close-menu {
    display: none;
}

.n-img {
    max-width: 650px;
    max-height: 873px;
    border-radius: 12px;
}

.img-s1 {
    position: relative;

}

.img-s1::before {
    position: absolute;
    content: url("./assets/img/l1.svg");
    top: -26px;
    left: -26px;
}

h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 1.26;
    letter-spacing: 3.2px;
}

.style-text {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.08;
    letter-spacing: 3.2px;
}

.line {
    position: relative;
    display: inline-block;
}

.line::before {
    content: url("./assets/img/l2.svg");
    position: absolute;
    top: 1px;
}

.listen a {
    transition: transform 0.5s;
    display: inline-block;
}

.listen a:hover {
    transform: translateY(-5px);
}

.listen p {
    margin-bottom: 16px;
}

.listen ul {
    display: flex;
    gap: 17px;
}


/*section2*/

.cards {
    padding: 100px 0 160px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

}

.button {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: white;


    background-color: #118DA8;
    padding: 12px 20px;
    border-radius: 6px;

    border: 2px solid #118DA8;
    transition: background-color 0.5s

}

.button:hover {
    background-color: transparent;

}

.section-header h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 79.2px;
    letter-spacing: 2.88px;


}

.all-cards {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

section img {
    object-fit: cover;
}

.card {
    display: flex;
    gap: 52px;

    background-color: #000000;
    padding: 40px;
    border-radius: 32px;

}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.card-tag {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background-color: #191919;
    border-radius: 6px;
    padding: 0 16px;

    margin-bottom: 48px;


}

.episode {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;

    margin-bottom: 18px;
}

h3 {
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
    letter-spacing: 2.56px;

}

h3.heading {
    margin-bottom: 28px;
}

.card:last-child .heading {
    font-size: 57px;
}

.text {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFFB2;

    margin-bottom: 18px;
}


/*section 3*/

h3.authorName {
    margin-bottom: 28px;
}

.about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 100px 0;
}

.about {
    max-width: 590px;
}

.about-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;

    display: block;
    margin-bottom: 24px;
}

.about .text {
    margin-bottom: 33px;
}

.about-img {
    object-fit: cover;
    border-radius: 12px;
}

.arrow {
    display: inline-block;
    transition: transform 0.5s;
}

.arrow:hover {
    transform: rotate(90deg);
}

/*section 4*/

h3.subTitle {
    margin-bottom: 28px;
}

.subscribe {
    padding: 100px 0;
    overflow-x: clip;

}

.sub-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;

    position: relative;

    background-color: #000000;
    border-radius: 32px;
}

.sub-wrapper::before {
    position: absolute;
    content: url("./assets/img/l3.svg");
    left: -38px;
    bottom: -30px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    max-width: 522px;

}

.subscribe-form input {
    background-color: #191919;
    border-radius: 6px;
    border: 1px solid #191919;


    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color: #FFFFFFB2;
    padding: 26px 19px;

    transition: border-color 0.5s;
    outline: none;
}

.subscribe-form input:focus {
    border: 1px solid #454444;

}

.subscribe-form button {
    font-weight: 700;
    font-size: 15px;
    line-height: 28.8px;
    color: #FFFFFFB2;


    align-self: flex-start;
}

/*section 5*/

.reviews {
    padding: 100px 0;
}

.reviewsBlock {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.review-card {

    display: flex;
    flex-direction: column;
    gap: 20px;


    padding: 54px 50px 51px 60px;
    border-radius: 32px;
    background-color: #000000;
}

.review-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 43.2px;
    letter-spacing: 0;
}

.reviewsName {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;

    color: #FFFFFFB2;

}

.stars {
    display: flex;
    gap: 5px;
}


/*footer*/
.footer {
    padding: 100px 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer a {
    transition: color 0.5s;
}

.footer a:hover {
    color: #118DA8;

}

.castaway {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.castaway ul a {
    display: inline-block;
    transition: transform 0.5s;
}

.castaway ul a:hover {
    transform: translateY(-5px);
}

.castaway ul {
    display: flex;
    gap: 10px;
}

.icons {
    display: flex;
    gap: 17px;
}

.icons a {
    transition: transform 0.5s;
    display: inline-block;
}

.icons a:hover {
    transform: translateY(-5px);
}

.footer-menu {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}

.footer-menu ul {

    display: flex;
    flex-direction: column;
    gap: 10px;
}


/*ПЛАНШЕТЫ*/
@media screen and (max-width: 1100px){

    /*БУРГЕР МЕНЮ*/

    .header {
        position: relative;
        z-index: 10;
        background-color: #191919;
    }

    .nav-list {
        position: fixed;
        left: 0;
        top: 120px;
        width: 100%;
        height: calc(100vh - 120px);
        background: #191919B2;
        backdrop-filter: blur(25px);


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;


        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: transform 1s;
        z-index: 1;
    }

    .nav-list.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }


    .header.active .burger-menu {
        display: none;
    }

    .header.active .close-menu {
        display: block;
    }

    .header.active {
        background-color: #191919;
    }


    /*ПЕРВАЯ СЕКЦИЯ*/

    .burger-menu {
        display: block;
    }


    header ul {
        display: none;
    }

    .content-creator {
        flex-direction: column;
        padding: 0 40px;
        gap: 60px;
    }

    .container {
        padding: 0 20px;
    }

    .hero {
        padding: 60px 0;
    }

    .img-s1::before {
        top: -28px;
        left: -28px;
    }

    .n-img {
        max-width: 100%;
        height: auto;
    }

    .creator {
        gap: 75px;
        margin-bottom: 0;
    }

    /*ВТОРАЯ СЕКЦИЯ*/

    .card {
        flex-direction: column;
    }

    .section-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 0 40px;
    }

    /*ТРЕТЬЯ СЕКЦИЯ*/

    .about-wrapper {
        flex-direction: column-reverse;
    }

    .about {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /*ЧЕТВЁРТАЯ СЕКЦИЯ*/

    .sub-wrapper {
        flex-direction: column;
        align-items: flex-start;
        padding: 60px 40px;
    }

    .about-label {
        margin-bottom: 0;
    }

    h3.subTitle {
        margin-bottom: 86px;
    }

    h3.authorName {
        margin-bottom: 0;
    }

    .about .text {
        margin-bottom: 0;
    }

    .subscribe-form {
        width: 100%;
        max-width: none;
    }

    .subscribe-form input {
        width: 100%;
    }

    .sub-wrapper::before {

        content: url("./assets/img/l3(1).svg");
        left: auto;

        right: -22px;
        bottom: -71px;
        rotate: -4deg;

    }


    .reviewsBlock {
        grid-template-columns: repeat(2, 1fr);
    }

    .review-card {
        padding: 51px 40px 51px 40px;
    }

    /*ФУТЕР*/

    .footer-wrapper {
        flex-wrap: wrap;
        padding: 0 40px;
    }

    .castaway {
        width: 100%;
        margin-bottom: 128px;
    }

    .footer-wrapper nav:nth-child(3) {
        margin-left: auto;
    }

    .footer-wrapper nav:last-child {
        margin-right: 26px;

    }

    .icons {
        margin-left: 15px
    }
}

/** {*/
/*    outline: 1px solid red;*/
/*}*/




/*PHONE*/


@media screen and (max-width: 576px) {
/*@media screen and (min-width: 375px) and (max-width: 576px) {*/



    h1 {
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 2.2px;
        margin: 0 20px;

    }

    .line {
        font-weight: 400;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 3.2px;
    }

    .line::before {
        content: url("./assets/img/l2M.svg");
        top: auto;
        bottom: -15px
    }

    .style-text {
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 3.2px;

    }

    .n-img {
        height: 415px;
        width: 100%;
    }

    .content-creator {
        padding: 0;
        gap: 40px;
    }

    .creator {
        gap: 68px;
    }

    .hero {
        padding: 40px 0 60px 0;
    }

    .listen {
        padding: 0 42px;
    }

    /*ВТОРАЯ СЕКЦИЯ*/

    .section-header h2 {
        font-size: 38px;
        line-height: 49.2px;
    }

    .section-header {
        gap: 20px;
        padding: 0 20px;
        margin-bottom: 40px;
    }

    .cards {
        padding: 60px 0;
    }

    .card {
        padding: 20px;
        gap: 30px;
        width: 100%;

    }

    .card-img {
        /*max-width: 295px;*/
        width: 100%;
        max-height: 240px;

    }

    .card-tag {
        margin-bottom: 28px;
    }

    .episode {
        margin-bottom: 20px;
    }

    h3 {
        font-size: 40px;
        line-height: 45.4px;
        letter-spacing: 2.56px;


    }


    h3.heading {
        margin-bottom: 40px;
    }

    .heading br {
        display: none;
    }

    .card:last-child .heading {
        font-size: 40px;
        line-height: 45.4px;
        letter-spacing: 2.56px;
    }




    /*ТРЕТЬЯ СЕКЦИЯ*/

    .arrow img {
        width: 100px;
        height: 100px;
    }

    h3.authorName {
        line-height: 52.2px;
        letter-spacing: 2.88px;

    }

    .about-wrapper {
        gap: 40px;
        padding: 60px 20px;
    }



    .about-img {
        width: 100%;
        height: 467px;

    }




    /*ЧЕТВЁРТАЯ СЕКЦИЯ*/

    .subscribe {
        padding: 60px 0;

    }

    .subTitle {
        font-weight: 400;
        font-size: 50px;
        line-height: 50.2px;
        letter-spacing: 2.88px;

    }

    h3.subTitle {
        margin-bottom: 60px;

    }

    .sub-wrapper {
        padding: 60px 20px;
    }

    .sub-wrapper::before {

        content: url("./assets/img/l3(3).svg");

        right: -18px;
        bottom: -35px;
        rotate: 1deg;

    }

    .sub-wrapper .card {
        padding: 0;

    }

    .sub-wrapper .episode {
        margin-bottom: 0;
    }



    /*ПЯТАЯ СЕКЦИЯ*/

    .review-card {
        padding: 51px 40px 51px 20px;
    }

    .review-card:last-child {
        padding-right: 20px;
    }

    .reviews {
        padding: 60px 0;
    }

    .reviewsBlock {
        grid-template-columns: repeat(1, 1fr);
    }


    /*ФУТЕР*/

    .footer {
        padding: 60px 0;
    }

    .castaway {
        margin-bottom: 78px;
    }

    .footer-wrapper {
        flex-direction: column;
        padding: 0 20px;
    }

    .footer-wrapper nav:nth-child(3) {
        margin-left: unset;
    }

    .footer-menu {
        margin-bottom: 60px;
    }

    .icons {
        margin-left: 0;
    }
}